.App {
  padding: 20px;
}

.Main {
  display: flex;
}

.List {
  width: 35%;
  height: 720px;
  overflow-y: scroll;
}

.CountryList ul {
  margin: 0;
  padding: 0;
}

.CountryList li {
  list-style: none;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
  cursor: pointer;
}

.CountryList li:hover,
.CountryList li:active {
  background-color: #eee;
}

.Info {
  padding: 40px;
  width: 65%;
}

.CountryInfo {
  margin-left: 50px;
}

.CountryName {
  font-size: 35px;
  padding-bottom: 20px;
}

.CountryBorders {
  padding-top: 40px;
}

.CountryBorders li {
  margin-bottom: 10px;
}